div.resume{
    padding: auto;
    justify-content: center;
    margin: auto;
    width: 50%;
    border: black solid 3px;
    height: auto;
    overflow: auto;
    box-shadow:  10px 5px 5px black;
    margin-bottom: 10%;
    padding: 10px 10px 10% 10px;
}
#right{
    float: right;
    margin: auto;
}
#left{
    float: left;
}
*{
    font: normal;
    font-size: 1vw;
}
body{
    height: auto;
}
#me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 68px;
    top: 20px;
    padding: 10px;
}
  h2{
      margin-top: 30px;
  }